PORT=4000
CORS_ORIGIN=http://localhost:3000

DATABASE_URL=postgresql://postgres:change-this-local-password@localhost:5432/testimonial_cms?schema=public

JWT_SECRET=change-me-please-with-at-least-32-characters
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_UPLOAD_URL=https://api.cloudinary.com/v1_1/tu_cloud_name/image/upload
CLOUDINARY_UPLOAD_PRESET=tu_preset_no_firmado

# YouTube
YOUTUBE_API_KEY=tu_google_api_key_aqui
